.os-bar {

    -fx-background-color: #BDE1EF;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #D9DCD6;
}

.hamburger-button {

    -fx-background-color: transparent;
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em; /* 4 4 4 4 */
}

.hamburger-button:hover .hamburger-button-bar {

    -fx-scale-x: 1.16;
    -fx-scale-y: 1.16;
}

.hamburger-button-bar {

    -fx-background-color: -fx-text-base-color;
    -fx-background-radius: 2px;
}

.bottom-navigation {
    -fx-background-color: linear-gradient(to top left, #82BADD, #B6DCED);
}

.bottom-navigation-selection {
    -fx-background-color: #B6DCED;
}

.bottom-navigation .button {
    -fx-background-color: transparent;
}

.bottom-navigation .button:hover .icon-svg {
    -fx-stroke: #606060;
}

.bottom-navigation .button:hover .icon-text {
    -fx-fill: #606060;
}

.altitude-button {
    -fx-base: #B6DCED/*#BDE1EF*/;
}

.altitude-button.left {
    -fx-background-radius: 5px 0 0 5px;
}

.altitude-button.right {
    -fx-background-radius: 0 5px 5px 0;
}

.label.outline .text {
    -fx-fill: transparent;
    -fx-stroke: -fx-text-base-color;
    -fx-stroke-width: 3px;
}
