.os-bar {

    -fx-background-color: #BDE1EF;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #D9DCD6;
}

.hamburger-button {

    -fx-background-color: transparent;
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em; /* 4 4 4 4 */
}

.hamburger-button:hover .hamburger-button-bar {

    -fx-scale-x: 1.16;
    -fx-scale-y: 1.16;
}

.hamburger-button-bar {

    -fx-background-color: -fx-text-base-color;
    -fx-background-radius: 2px;
}

.bottom-navigation {
    -fx-background-color: linear-gradient(to top left, #82BADD, #B6DCED);
}